body {
  background-image: url('bg.jpg');
  background-size: 36px;
}
.header {
  width: 100%;
  position: relative;
}
.header img {
  display: block;
  width: 100%;
}
.header .attend {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55%;
  height: 11%;
  top: 47%;
  left: 10%;
}
.activity-item {
  width: 100%;
  position: relative;
}
.activity-item img {
  display: block;
  width: 100%;
}
.activity-item .attend {
  position: absolute;
  width: 32%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  bottom: 8%;
  left: 33%;
}
.more {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('images/banner.png');
  background-size: 189.5px;
  background-repeat: no-repeat;
  background-position: center 12px;
  padding-top: 88px;
  margin-top: 20px;
}
.more-item {
  width: 50%;
/*  background-color: #aaa;*/
  float: left;
  padding-bottom: 1%;
}
.more-item:nth-child(odd) {
  padding-left: 1%;
  padding-right: 0.5%;
}
.more-item:nth-child(even) {
  padding-left: 0.5%;
  padding-right: 1%;
}
.more-item img {
  width: 100%;
  display: block;
}
.more-item .title {
  position: relative;
}
.slogan {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}
.more-item .detail {

}

.banners-item {
}
.banners-item img {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 60px;
}